{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "79",
          "edge": "78",
          "firefox": "72",
          "safari": "12"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}